section.experience#experience
    .flex.flex--space-around
        .col-fifty-percent
            .flex-video <iframe src="https://www.youtube.com/embed/Z_1qY_Bqj5U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

        .col-2
            h1.home-lead to work
            h2.home-sub on life changing projects,
            h1.home-lead to tell stories
            h2.home-sub in front of 1..50..100..1000000 people
            a(href="http://alpargabos.com/cv").home-cta TELL ME MORE!