section.devdroids
    .flex.flex--center
        .col-2
            div.home-devdroids-icon
            h2.home-link devdroids.com

        .col-2
            h1.home-lead to code
            h2.home-sub android apps,
            h1.home-lead to share
            h2.home-sub what he has learned.
            a(href="http://devdroids.com").home-cta CHECK IT OUT!

