section.experience#experience
    .flex.flex--space-around

        .col-2
            h1.home-lead to work
            h2.home-sub on life changing projects,
            h1.home-lead to tell stories
            h2.home-sub in front of 1..50..100..∞ people
            a(href="../assets/pdf/cv.pdf", target="_blank").home-cta TELL ME MORE!

        .col-fifty-percent.order-first
            .flex-video <iframe src="https://www.youtube.com/embed/taH-u4yBWGs" frameborder="0" allowfullscreen></iframe>
