section.about#about
    .flex.flex--center
        .col-1.push-bottom
            h1.home-lead Alpar
            h2.home-sub is a simple human being,
            p.home-small just like you.
            h1.home-lead.stretch-to-right Who loves...

        .col-1.push-bottom
            div.home-about-profile
            h1.home-lead.at-bottom Who loves

