section.pragmaticself
    .flex.flex--center
        .col-2
            h1.home-lead to live
            h2.home-sub his life in a pragmatic way,
            h1.home-lead to teach
            h2.home-sub others how to be <span>happier</span> & <span>healthier</span>.

        .col-2
            div.home-pragmaticself-icon
            h2.home-link pragmaticself.com
            a(href="http://pragmaticself.com").home-cta CHECK IT OUT!

