section.contact#contact
    .flex.flex--space-between
        .col-1.social
                a(href="//linkedin.com/in/alpargabos"): .linkedin
                a(href="//github.com/alpargabos"): .github
                a(href="//twitter.com/alpargabos"): .twitter
                a(href="//facebook.com/alpar.gabos.3"): .facebook

        .col-2
                h1.home-lead to connect
                        h2.home-sub with others, like you!


        .col-2
            .form-display
                form(action="//formspree.io/info@alpargabos.com", method="POST")
                    .info
                        input.name(class="name", type="text", name="name", placeholder="Name")
                        input.email(class="email", type="email", name="_replyto", placeholder="Email")
                    textarea.message-body(class="text", name="body", placeholder="Message...")
                    input(type="hidden", name="_next", value="//site.io/thanks.html")
                    input(type="hidden", name="_subject", value="New submission!")
                    input(type="text", name="_gotcha", style="display:none")
                    input.home-cta(type="submit", value="SEND")
