section.pragmaticself#pragmaticself
    .flex.flex--center

        .col-2
            h1.home-lead to live
            h2.home-sub his life in a pragmatic way,
            h1.home-lead to give tips
            h2.home-sub on how to be <span>happier</span> & <span>healthier</span>.
            a(href="http://pragmaticself.com").home-cta I WANT TIPS!

        .col-fifty-percent.flex-space-around.order-first
            a(href="//pragmaticself.com").home-pragmaticself-icon
            a(href="//pragmaticself.com"): h2.home-link pragmaticself.com
