section.devdroids#devdroids
    .flex.flex--center

        .col-2
            h1.home-lead to code
            h2.home-sub android apps,
            h1.home-lead to share
            h2.home-sub what he has learned.
            a(href="http://devdroids.com").home-cta LET'S SEE!

        .col-fifty-percent.flex-space-around.order-first
            a(href="//devdroids.com"): div.home-devdroids-icon
            a(href="//devdroids.com"): h2.home-link devdroids
