section.contact
  background:
    image: url(../img/home_contact_bg.png)
    color: #575757
    repeat: no-repeat
    size: cover

  h1.home-lead
    color: white
    font:
      size: 72px
      weight: 200
    margin-top: 0
    margin-bottom: 0

  h2.home-sub
    color: white
    font:
      size: 40px
      weight: 200
    line-height: 1.3
    margin: 0 0
    max-width: 250px

  .linkedin
    background: url(../img/linkedin_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    height: 38px
    width: 38px
    border: 0


  .facebook
    background: url(../img/facebook_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    height: 38px
    width: 38px
    border: hidden


  .twitter
    background: url(../img/twitter_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    width: 38px
    height: 38px


  .github
    background: url(../img/github_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    height: 38px
    width: 38px
    border: hidden
    &:hover
      filter: hue-rotate(180deg)

  .home-cta
    color: #575757
    margin-top: 20px
    margin-bottom: 50px

  input,
  textarea
    background: rgba(white, 0.3)
    color: white

  .form-display
    align-self: center

    .info
      display: block

    .name
      width: 40%
      height: 50px
      float: left
      border: hidden
      padding-left: 5px

    .email
      width: 50%
      height: 50px
      float: right
      border: hidden
      padding-left: 5px

    .text
      width: calc(100% - 10px)
      height: 150px
      border: hidden
      margin-top: 20px
      padding: 0 5px

      //&:focus
      //  background-color: white

  .home-cta
    background-color: white
    color: #575757
    border: hidden
    width: 434px
    margin-bottom: 0

  .social
    width: 350px
    margin-top: 45px
    display: flex
    flex-direction: row
    justify-content: space-between

  .col-fifty-percent
    display: flex
    align-items: stretch
    flex-direction: column
    justify-content: center

    @media (max-width: 775px)
      height: auto
      display: block
      padding: 50px 20px

  .col-fifty-percent
    margin-left: 40px
    height: 500px

    @media (max-width: 640px)
      margin: 0

  .col-2
    align-self: center
