section.devdroids
  background:
    image: url(../img/home_devdroids_bg.png)
    color: #1B9D84
    repeat: repeat

  h1.home-lead
    color: white
    font:
      size: 72px
      weight: 200
    margin-top: 35px
    margin-bottom: 0

  h2.home-sub
    color: white
    font:
      size: 40px
      weight: 200
    line-height: 1.3
    margin: 0 0

  h2.home-link
    color: white
    font:
      size: 40px
      weight: 200
    line-height: 1.3
    margin: 25px 5px 55px 5px
    text-align: center


  .home-devdroids-icon
    background: url(../img/home_devdroids_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    height: 180px
    margin-bottom: -150px



  .home-cta
    color: #1B9D84

  .flex-space-around
    display: flex
    flex-direction: column
    justify-content: space-around


  @media (max-width: 640px)

    .home-devdroids-icon
      margin: 20px 0 0 0

    h1.home-lead
      margin-top: -5px
      padding-top: 35px
