section.contact
  background:
    image: url(../img/home_contact_bg.png)
    color: #575757
    repeat: no-repeat
    size: cover

  h1.home-lead
    color: white
    font:
      size: 72px
      weight: 200
    margin-top: 35px
    margin-bottom: 0

  h2.home-sub
    color: white
    font:
      size: 40px
      weight: 200
    line-height: 1.3
    margin: 0 0
    max-width: 250px

  img.linkedin
    background: url(../img/linkedin_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    margin: 35px
    height: 38px
    width: 38px

  img.facebook
    background: url(../img/facebook_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    margin: 35px
    height: 38px
    width: 38px

  img.twitter
    background: url(../img/twitter_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    margin: 35px
    height: 38px
    width: 38px

  img.github
    background: url(../img/github_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    margin: 35px
    height: 38px
    width: 38px


  .home-cta
    color: #575757
    margin-top: 20px
    margin-bottom: 50px
