section.pragmaticself
  background:
    image: url(../img/home_pragmaticself_bg.png)
    color: #F89406
    repeat: no-repeat
    position: right bottom
    size: 657px 100%


  h1.home-lead
    color: white
    font:
      size: 72px
      weight: 200
    margin-top: 35px
    margin-bottom: 0


  h2.home-sub
    color: white
    font:
      size: 40px
      weight: 200
    line-height: 1.3
    margin: 0 0
    max-width: 407px

  h2.home-link
    color: white
    font:
      size: 39px
      weight: 200
    line-height: 1.3
    text-align: center
    margin: 0

  .home-pragmaticself-icon
    background: url(../img/home_pragmaticself_icon.png)
    background:
      repeat: no-repeat
      size: contain
      position: 50% 50%
    height: 177px
    width: 177px
    align-self: center
    margin-bottom: -150px

  .push-up
    margin-top: -20px

  .home-cta
    color: #F89406

  span
    color: #D0021B

  .flex-space-around
    display: flex
    flex-direction: column
    justify-content: space-around